<div class="navbar">
    <div class="navbar-links">
        <a href="/">Dashboard</a>
        <a href="/devices">Devices</a>
        <a href="/roles">User Roles</a>
        <a href="/schedules">Schedule Actions</a>
        <a href="/diagnostics">Diagnostics</a>
        <a href="/alerts">Alerts</a>
    </div>
</div>
